#define LANG_SW LA(LSHIFT)

#define RU_JO GRAVE
#define RU_JI Q
#define RU_C W
#define RU_Y E
#define RU_K R
#define RU_E T
#define RU_N Y
#define RU_G U
#define RU_SH I
#define RU_SCH O
#define RU_Z P
#define RU_H LBKT
#define RU_HS RBKT
#define RU_F A
#define RU_YI S
#define RU_V D
#define RU_A F
#define RU_P G
#define RU_R H
#define RU_O J
#define RU_L K
#define RU_D L
#define RU_ZH SEMICOLON
#define RU_IE SINGLE_QUOTE
#define RU_YA Z
#define RU_CH X
#define RU_S C
#define RU_M V
#define RU_I B
#define RU_T N
#define RU_SS M
#define RU_B COMMA
#define RU_YU PERIOD
#define RU_DOT SLASH